@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
#logo{
	padding: 27px 10px;
	background-color: #f8f8f8;
	text-align: center;
}
#smpg-options-wrapper{
	background-color: #fff;
	padding: 20px;
	margin: 20px;
}
#smpg-options-wrapper > h1{
	text-align: center;
	font-family: "EXO";
}
#options-wrap{
	display: flex;
	max-width: 960px;
	margin-top: 50px;
	min-height: 768px;
}
#options-nav{
	width: 20%;
	background-color: rgb(209, 53, 75);
	box-shadow: 10px 5px 6px #dbd1d1;
}
.smpg-nav-link,.smpg-nav-item{
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Anton'
}
.smpg-nav-link:hover{
	color: #ffffff;
    font-size: 20px;
	padding: 10px;
}
.smpg-nav-link{
	padding: 0 20px;
}
.smpg-nav-item{
	display: block;
	padding: 0 5px;
	width: 75%;
}
.smpg-nav-item:hover{
	color: #ffffff;
	background: #871928;
}

#options-sections{
	width: 70%;
}
.smpg-radio-img input[type="radio"]{display: none}
.smpg-radio-item{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}
.smpg-radio-img-selected{
	padding: 5px;
	border: 1px solid #ff3600;
}

.smpg-section-group > h2{
	padding: 50px 10px;
	font-size: 35px;
	color: #ffffff;
	background-color: rgb(209, 53, 75);
	margin: 0;
	border-bottom-left-radius: 0;
	font-family: "EXO";
	text-align: center;
	box-shadow: 5px 10px 6px #dbd1d1;
}

.submit,.form-table{
	margin: 15px;
}

.smpg-section-group{
	display: none;
}
.smpg-show-section{
	display: block;
}

.regular-text{
	width: 20em;
}

.smpg-section-group .form-table tr {
    border-bottom: 2px solid #ebecec;
}

.smpg-section-warning{
	font-weight: bold;
	color: #f6f6f6;
	padding: 10px;
	background-color: #871928;
	margin: 5px;
	border-left: 6px solid #230005;
}
.has-switch {
    margin-right: 15px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
   /* -webkit-mask: url(../img/switch-mask.png) 0 0 no-repeat;
    mask: url(../img/switch-mask.png) 0 0 no-repeat;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.has-switch {
    cursor: pointer;
    text-align: left;
}
.has-switch input[type="checkbox"] {
    display: none;
}
.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}
.has-switch > div.switch-on {
    left: 0;
}

.has-switch > div.switch-off {
    left: -63%;
}
.has-switch > div.switch-animate {
    -webkit-transition: left .25s ease-out;
    -moz-transition: left .25s ease-out;
    -o-transition: left .25s ease-out;
    transition: left .25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch > div.switch-off label {
    background-color: #999;
    border-color: #bbb;
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
    box-shadow: -1px 0 0 rgba(255,255,255,0.5);
}

.has-switch > div.switch-on label {
    background-color: #9A3E4B;
}

.has-switch label {
    border: 4px solid #230005;
    border-radius: 50%;
    float: left;
    height: 21px;
    position: relative;
    vertical-align: middle;
    width: 21px;
    z-index: 100;
    margin: 0 -15px 0 -14px;
    padding: 0;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-backface-visibility: hidden;
}

.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #871928;
    border-left: 1px solid transparent;
}
.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bbb;
    color: #fff;
    text-indent: 7px;
}

.has-switch span {
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600 !important;
    float: left;
    height: 29px;
    line-height: 19px !important;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    margin: 0 !important;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-backface-visibility: hidden;
}

.featured-cat, .rev_slider{
	display: none;
}

.slider_show, .home_slider{
	display: table-row;
}
.form-table th{
	font-family: "Gugi";
}

.smpg-dropdown{
	display: none;
}
.smpg-dropdown .smpg-nav-item{
	width: auto;
} 
#options-nav ul{
	padding-top: 0;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
#options-nav ul li{
	
	margin: 0;
}
#options-nav ul li div{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	border-bottom: 1px solid #fff;
}

.toggle-dropdown{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 50px;
	color: #fff;
	background: #871928;
	font-size: 20px;
	top: 0;
	left: 0;
}
.farb-popup {
    position: absolute;
    background-color: #fff;
    border: 2px solid #EBECEC;
    padding: 5px;
    z-index: 100;
}
.form-table td{
	display: flex;
}
.wp-core-ui .button-primary {
    background: #d1354b;
    border-color: #d1354b #d1354b #d1354b;
    box-shadow: 0 1px 0 #d1354b;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #d1354b,1px 0 1px #d1354b,0 1px 1px #d1354b,-1px 0 1px #d1354b;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
    color: #ffffff;
    box-shadow: none;
    outline: none;
}
.wp-core-ui .button-primary:focus {
    box-shadow: 0 1px 0 #941e1e, 0 0 2px 1px #d1354b;
}
.wp-core-ui .button-primary:hover,.wp-core-ui .button-primary:focus{
	background: #941e1e;
    border-color: #941e1e;
}