#main_nav_con{
	background-color: #444444;
}
#main_menu_con li a:hover,#dun-title,.active, .active-tab,#submit,.form_submit,.button,.widgettitle,.widgeted_title a,.widgeted_title span, .page-numbers a, .ca-nav span, .reply, .single-download, .widgeted_title, #dun-title, .featured-posts-title, .f-post-title,.section_title,#page-scroll{
	background-color:#5680de;
}
.section,#anony-page-loading-bg{
	border-top: 5px solid #5680de;
}
a{
color:#350c86;
}
.single-text ul{
    font-size: 18px;
}
#dun-text {
	border-bottom-color:#5680de;
}
.widgeted_title, #slider-wrapper{
	border-top-color:#5680de;
}
.tab_content div h3,.same_cat_post a,h1,h2,h3,h4,h5,h6,.fa-bars, .ca-icon i, .download a {
	color:#5680de;
}
.widgeted_title{
	color: #fff;
}
#secondary-sidebar h2,#anony-cat-list li, #anony-cat-list li ul li,#secondary-sidebar ul li:nth-child(2){
	background-color: #222222;
}

#news-letter input{
	border-bottom: 1px solid #222222;
	border-top: 1px solid #222222;
}
#page-scroll-bg{
	border-left: 2px solid #5680de;
}
/***Body***/
	/***Blog post***/
	.post-image-wrapper h4{
	    background-color: #8248b7;
	}
	/***End blog post***/
/***End body***/

@media screen and (min-width: 768px){
	/***Header***/
	#main_menu_con li a{
    border-right: 1px solid #FFFFFF;
	}
	/***End Header***/
}
