#anony-main_nav_con{
	background-color: #444444;
}
#anony-main_menu_con li a:hover,#anony-dun-title,.active, .anony-active-tab,#submit,.anony-form_submit,.button,.widgettitle,.widgeted_title a,.widgeted_title span, .anony-page-numbers a, .anony-ca-nav span, .reply, .single-download, .widgeted_title, #anony-dun-title, .anony-featured-posts-title, .f-post-title,.anony-section_title,#anony-page-scroll{
	background-color:#5680de;
}
.section,#anony-page-loading-bg{
	border-top: 5px solid #5680de;
}
a{
color:#350c86;
}
.anony-single-text ul{
    font-size: 18px;
}
#anony-dun-text {
	border-bottom-color:#5680de;
}
.widgeted_title, #anony-slider-wrapper{
	border-top-color:#5680de;
}
.anony-tab_content div h3,.anony-same_cat_post a,h1,h2,h3,h4,h5,h6,.fa-bars, .anony-ca-icon i, .download a {
	color:#5680de;
}
.widgeted_title{
	color: #fff;
}
#anony-secondary-sidebar h2,#anony-cat-list li, #anony-cat-list li ul li,#anony-secondary-sidebar ul li:nth-child(2){
	background-color: #222222;
}

#anony-news-letter input{
	border-bottom: 1px solid #222222;
	border-top: 1px solid #222222;
}
#anony-page-scroll-bg{
	border-left: 2px solid #5680de;
}
/***Body***/
	/***Blog post***/
	.anony-post-image-wrapper h4{
	    background-color: #8248b7;
	}
	/***End blog post***/
/***End body***/

@media screen and (min-width: 768px){
	/***Header***/
	#anony-main_menu_con li a{
    border-right: 1px solid #FFFFFF;
	}
	/***End Header***/
}
