/*Main colors*/
.active,.button, .anony-active-tab,.anony-page-numbers a,.widgeted_title,#anony-dun-title,#submit,.anony-form_submit,.anony-featured-posts-title,.anony-section_title,#anony-page-scroll,.anony-button,.anony-post-image-wrapper h4,.f-post-title,.reply{
	background-color: #ef1450 !important;
}
.anony-section,#anony-slider-wrapper {
    border-top-color: #ef1450;
}
#anony-main_nav_con {
	background-color: rgba(35, 0, 5,1);
}
.single-download,.anony-toggle-sidebar{
	background-color:rgba(35, 0, 5,1);
}
.fa-calendar,.fa-comments-o,.fa-folder-open,.fa-eye,.fa-download,.fa-star{
	color: #b10030;
}
a,h1,h2,h3,h4,h5,h6 {
	color: #b10030;	
}

body{
	/*background: url(../../../images/body-bg-1.jpg) no-repeat fixed;
	background-size: cover;*/
}
#cancel-comment-reply-link {
		color: #ef1450;
	}
.anony-breadcrumbs li, .anony-breadcrumbs a {
    color: #b10030;
}

#anony-top-header-wrapper{
	border-bottom: 5px solid #ef1450;
}

#anony-page-loading-bg{
	border-top: 8px solid #ef1450;
}
.anony-warning {
	background-color: #e09352;
	border-left: 6px solid #230005;
}


@media screen and (min-width: 768px){
	#anony-main_menu_con li a:hover {
		background-color: #b10030;
		font-size: 16px;
	}
}