/*Main colors*/
.anony-skew-bg::after,.page-numbers li,.active,.button, .anony-active-tab,.anony-page-numbers a,.widgeted_title,#anony-dun-title,#submit,.anony-form_submit,.anony-featured-posts-title,.anony-section_title,#anony-page-scroll,.anony-button,.anony-post-image-wrapper h4,.f-post-title,.reply{
	background-color: #ef1450 !important;
}
.anony-post-info .anony-nothumb-post .anony-thumb-post-title{
	border-bottom: 2px solid #ef1450;
}
.anony-section,#anony-slider-wrapper {
    border-top-color: #ef1450;
}
#anony-main_nav_con {
	background-color: rgba(35, 0, 5,1);
}
.single-download,.anony-toggle-sidebar{
	background-color:rgba(35, 0, 5,1);
}
.fa-calendar,.fa-comments-o,.fa-folder-open,.fa-eye,.fa-download{
	color: #b10030;
}
a,h1,h2,h3,h4,h5,h6 {
	color: #b10030;	
}

body{
	/*background: url(../../../images/body-bg-1.jpg) no-repeat fixed;
	background-size: cover;*/
}
#anony-main-menu-con .anony-sub-menu li a {
    color: #230005;
    text-shadow: none;
}
#cancel-comment-reply-link, .fa-bars,#anony-cat-list .toggle-category .fa {
		color: #ef1450;
	}
.anony-breadcrumbs li, .anony-breadcrumbs a {
    color: #b10030;
}

#anony-top-header-wrapper{
	border-bottom: 5px solid #ef1450;
}

#anony-page-loading-bg{
	border-top: 8px solid #ef1450;
}
.anony-warning {
	background-color: #e09352;
	border-left: 6px solid #230005;
}
.page-numbers, #anony-main-menu-con .anony-sub-menu li a{
	color: #fff;
}
#anony-main-menu-con .anony-sub-menu li{
	border-bottom: 1px solid #230005;
	background-color: #b10030;
}
li .current::after{
	background-color: #b10030;
}

@media screen and (min-width: 768px){
	#anony-main-menu-con li a:hover {
		background-color: #b10030;
		font-size: 16px;
	}
}