html,body{
	background-color: #ffffff;
}
/***Header***/
	/***menus***/
	.widgeted #anony-cat-list li, .widgeted #anony-cat-list li ul li{
		background: none;
		background-color:transparent;
	}
	#anony-main_menu_con li a{
		color: #ff3600;
	}
	.active a,#anony-main_menu_con li a:hover{
		color: #ffffff!important;
	}
	.sticky ul li a{
		color: #ffffff!important;
	}
	/***End menus***/
/***End Header***/

/***Sidebar***/
.widgeted #anony-cat-list li{
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
.widgeted #anony-cat-list li a,.toggle-category{
	color: #444444;
}
.widgeted .anony-dropdown{
	background-color: transparent;
	box-shadow:none;
}
.widgeted .anony-dropdown li{
	background-color: transparent!important;
}
/***End sidebar***/
@media screen and (min-width:768px){
	#anony-main_menu_con li a{
		border-right-color: transparent;
		text-shadow: none;
	}
	
	#anony-main_nav_con{
		background: none;
		background-color:transparent;
	}
}