.woocommerce ul.products li.product a.button {
  margin-top: 0;
}

.elementor-page .elementor-products-grid ul.products.elementor-grid li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  height: 60px;
  color: #000;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  float: none;
}

.woocommerce .products li.product .star-rating {
  display: inline-block;
}

.woocommerce ul.products li.product a.add_to_cart_button {
  color: #FFFFFF;
}

.woocommerce ul.products li.product .price del {
  color: #DD3C3C;
  font-size: 18px;
}

.woocommerce .products ul, .woocommerce ul.products {
  text-align: center;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  float: none;
  display: inline-block;
}

.woocommerce .products li .woocommerce-Price-amount bdi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce .products li .woocommerce-Price-amount ins bdi {
  flex-direction: row;
}

.woocommerce .products li .woocommerce-Price-amount ins, .woocommerce .products li .Price ins, .woocommerce .products li .woocommerce-Price-amount del, .woocommerce .products li .Price del {
  margin: 0 2px;
}

.woocommerce ul.products li.product a img {
  width: auto;
  display: inline-block;
}

.woocommerce ul.products li.product .star-rating {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .elementor-page .elementor-products-grid ul.products.elementor-grid li.product {
    border-radius: 8px;
    padding: 8px;
  }
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  text-align: center;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.woocommerce div.product div.anony-entry-summary, .woocommerce-product-gallery .flex-viewport, .woocommerce div.product div.images.woocommerce-product-gallery, .anony-wc-reviews {
  padding: 20px;
  background-color: #fff;
}

.anony-wc-reviews {
  margin: 20px 10px;
}

/*
.woocommerce div.product-type-variable div.anony-entry-summary, .woocommerce div.product-type-variable .woocommerce-product-gallery .flex-viewport, .woocommerce div.product-type-variable div.images.woocommerce-product-gallery{
	height: 550px!important;
}*/
.anony-entry-summary {
  height: 100%;
}

.woocommerce div.product div.images img {
  display: inline-block;
}

.woocommerce-product-gallery__image, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-product-gallery__image a {
  text-align: center;
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  margin: 10px 0;
}

.woocommerce .quantity .qty {
  width: 100px;
  text-align: center;
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 3px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  font-size: 29px;
}

.woocommerce div.product div.images img {
  max-width: 380px;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs, section.related.products {
  padding: 20px;
  background-color: #fff;
  margin: 0 10px;
}

section.related.products {
  margin-top: 30px;
}

.woocommerce div.product p.price del bdi, .woocommerce div.product span.price del bdi {
  color: #c62020;
  font-size: 22px;
}

.product_meta {
  display: flex;
  flex-direction: column;
}

.product_meta > span {
  margin-bottom: 15px;
}

.woocommerce.single-product div.product form.cart div.quantity {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
}

.woocommerce div.product form.cart .single_add_to_cart_button {
  display: inline-block;
  width: 200px;
  background-color: #000;
  float: none;
  vertical-align: middle;
}

.woocommerce div.product div.images .flex-control-thumbs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  text-align: center;
  z-index: 100;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: auto;
  display: inline-block;
  float: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  max-width: 80px;
  margin: 0 10px;
  border: 2px solid #D3D3D3;
}

.woocommerce #review_form #respond textarea {
  padding: 15px;
}

.woocommerce div.product .woocommerce-tabs .panel {
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    padding: 0;
  }

  .woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    padding: 5px;
    margin: 0;
  }
}
div.elementor-widget-woocommerce-checkout-page {
  background-color: #fff;
  padding: 20px;
}

.woocommerce-order-details__title, .woocommerce-column__title {
  padding: 20px 10px;
  line-height: 30px;
}

table.woocommerce-table--order-details {
  border-collapse: collapse;
}

table.woocommerce-table--order-details td, table.woocommerce-table--order-details th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.woocommerce-table--order-details tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.woocommerce-table--order-details tr:hover {
  background-color: #ddd;
}

.elementor-widget-woocommerce-checkout-page .woocommerce .shop_table thead tr th {
  background-color: #04AA6D !important;
  color: #fff;
  padding-top: 15px !important;
}

.woocommerce .woocommerce-ordering select {
  vertical-align: top;
  padding: 10px;
  outline: none;
  border: 1px solid #c8c7c7;
  border-radius: 5px;
}

body.rtl .elementor-element .elementor-widget-container .elementor-heading-title, body.rtl .elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, body.rtl .elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .woocommerce-loop-category__title, body.rtl .elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .button, body.rtl .elementor-widget-search-form input[type=search].elementor-search-form__input, body.rtl .elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-name a, body.rtl .elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
  font-family: "dintext";
}
body.rtl span.onsale {
  right: 1.5em;
  left: auto;
}
body.rtl ul.products li.product, body.rtl .woocommerce-page ul.products li.product {
  margin: 0 0 0.8em 0.8em;
}
body.rtl .elementor-widget-woocommerce-checkout-page {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  body.rtl #content div.product div.summary, body.rtl div.product div.summary, body.rtl .woocommerce-page #content div.product div.summary, body.rtl .woocommerce-page div.product div.summary {
    padding-left: 10px;
    padding-right: 5px;
  }
  body.rtl #content div.product div.images, body.rtl div.product div.images, body.rtl .woocommerce-page #content div.product div.images, body.rtl .woocommerce-page div.product div.images {
    padding-right: 10px;
    padding-left: 5px;
  }
}
.woocommerce .woocommerce-breadcrumb {
  padding: 10px;
  background-color: #fff;
}

.woocommerce #review_form #respond p.comment-form-comment, .woocommerce #review_form #respond p.comment-form-author, .woocommerce #review_form #respond p.comment-form-email {
  display: flex;
  flex-direction: column;
}

.woocommerce #review_form #respond textarea {
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 200px;
}

.comment-form-rating {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.woocommerce #review_form #respond .comment-form-rating p.stars {
  margin: 0 10px;
  padding-bottom: 0;
}

.woocommerce #review_form #respond .comment-form-rating p.stars span {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0;
  border: none;
  border-bottom: 1px solid #e4e1e3;
  display: flex;
  flex-direction: column;
}

.woocommerce #reviews #comments {
  margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist {
  margin-top: 20px;
}

#go-add-review {
  padding: 10px;
  display: inline-flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  margin: 10px 0;
  border-radius: 5px;
}

#anony-reviews-details .woocommerce-review-link {
  display: block;
  margin-bottom: 0;
}

#anony-average-rating {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
}

#anony-reviews-details .anony-grid-col {
  text-align: center;
}

#anony-reviews-details .review-rating-bg {
  background-color: #d6d4d0;
  height: 12px;
  position: relative;
  display: inline-block;
  width: 65%;
}

#anony-reviews-details .review-rating-fg {
  background-color: #f15a25;
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
}

#anony-reviews-details .review-rating-value {
  width: 90px;
  display: inline-block;
}

#anony-reviews-details .review-rating-bars {
  padding: 0 8px;
}

#anony-reviews-details .anony-grid-row {
  min-height: 180px;
  padding: 10px 0;
}

#anony-reviews-details .anony-grid-row .anony-grid-col {
  vertical-align: middle;
}

.woocommerce #anony-reviews-details .woocommerce-product-rating {
  display: inline-block;
}

.woocommerce .comment-text img {
  height: auto;
  max-width: 50px;
  display: inline-flex;
  margin: 10px;
}

.comment-text .woocommerce-review__author {
  background-color: #ffc65a;
  color: #fff;
  min-width: 80px;
  text-align: center;
  border-radius: 20px;
  display: inline-flex;
  height: 25px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  #anony-reviews-details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  #anony-reviews-details .review-rating-value {
    width: 60px;
    font-size: 12px;
  }
}
.woocommerce .star-rating span::before, .woocommerce p.stars a::before {
  color: #ffb62b;
}

.woocommerce .woocommerce-product-rating .star-rating {
  display: flex;
  align-items: flex-end;
}

.elementor-wc-products ul.products li.product span.onsale, .woocommerce span.onsale, .woocommerce ul.products li.product .onsale {
  background-color: #DD3C3C;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 1.5em;
  left: 1.5em;
}

.woocommerce span.onsale.percent {
  font-size: 18px;
}

span.required {
  color: #dd3c3c;
  font-weight: bold;
  font-size: 22px;
}

.woocommerce ul.products li.product .price {
  font-size: 1.3em;
}

.products li h2 {
  line-height: normal;
}

.woocommerce-LoopProduct-link, div.elementor-products-grid ul.products.elementor-grid li.product a.woocommerce-loop-product__link {
  text-align: center;
  position: initial;
  display: block;
}

@media screen and (min-width: 768px) {
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 50%;
  }

  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    padding-left: 5px;
  }

  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    padding-right: 5px;
  }
}
@media screen and (max-width: 480px) {
  .woocommerce div.product div.anony-entry-summary, .woocommerce-product-gallery .flex-viewport, .woocommerce div.product div.images.woocommerce-product-gallery, .anony-wc-reviews {
    padding: 20px 10px;
  }
}
