@charset "UTF-8";
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin: 0 3% 2.992em 0;
  float: none;
  display: inline-block;
  width: 23.4%;
}

.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
  margin-right: 0;
}

.woocommerce ul.products li.product a.button {
  margin-top: 0;
}

.elementor-page .elementor-products-grid ul.products.elementor-grid li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce .products ul, .woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.woocommerce nav.woocommerce-pagination ul li {
  float: none;
}

.woocommerce .products li.product .star-rating {
  display: inline-block;
}

.woocommerce ul.products li.product a.add_to_cart_button {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.woocommerce ul.products li.product .price del {
  color: #c1c1c1;
  font-size: 16px;
}

.woocommerce .products ul li, .woocommerce ul.products li {
  text-align: center;
}

.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
  margin: 0 0.8em 0.8em 0;
}

.woocommerce .products li .woocommerce-Price-amount bdi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.woocommerce ul.products li.product .onsale {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.woocommerce ul.products li.product .onsale {
  top: 10px;
  right: 10px;
}

body.rtl .woocommerce ul.products li.product .onsale {
  left: 10px;
  right: auto;
}

.woocommerce .products li .woocommerce-Price-amount ins bdi {
  flex-direction: row;
}

.woocommerce .products li .woocommerce-Price-amount ins, .woocommerce .products li .Price ins, .woocommerce .products li .woocommerce-Price-amount del, .woocommerce .products li .Price del {
  margin: 0 2px;
}

.woocommerce ul.products li.product a img {
  display: inline-block;
  margin: 0;
}

.woocommerce ul.products li.product .star-rating {
  margin-top: 10px;
}

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .elementor-page .elementor-products-grid ul.products.elementor-grid li.product {
    border-radius: 8px;
    padding: 8px;
  }
  .woocommerce .products ul, .woocommerce ul.products li {
    margin: 5px 2px !important;
  }
}
#anony-mobile-footer-menu form.cart {
  display: flex;
}

.anony-quantity {
  display: flex;
  align-items: center;
}

li.product .anony-quantity {
  justify-content: center;
}

.anony-quantity input {
  border: 1px solid #ccc;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  border-radius: 50%;
}

.anony-quantity input.anony-plus,
.anony-quantity input.anony-minus {
  cursor: pointer;
}

.anony-quantity input.anony-plus:hover,
.anony-quantity input.anony-minus:hover {
  background-color: #f9f9f9;
}

/* Chrome, Safari, Edge, Opera */
.anony-quantity input::-webkit-outer-spin-button,
.anony-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.anony-quantity input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

.anony-quantity-style-one {
  background-color: #F5F5F5;
  padding: 2px 3px;
  border-radius: 8px;
}

.anony-quantity.anony-quantity-style-one input.anony-plus,
.anony-quantity.anony-quantity-style-one input.anony-minus {
  background-color: #fff !important;
  border-radius: 8px;
  border-color: #CACACA;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  text-align: center;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: none;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.single-product .anony-grid-row#anony-mobile-footer-menu {
  height: 120px;
}

.woocommerce .woocommerce-breadcrumb {
  padding: 10px;
}

.woocommerce div.product form.cart .button.direct-checkout-button {
  float: none;
  padding: 0.618em 25px;
}

.anony-review-meta {
  vertical-align: text-bottom;
}

.woocommerce div.product form.cart .button.direct-checkout-button span {
  position: absolute;
  top: calc(50% - 10px);
  left: 2px;
}

body.rtl.woocommerce div.product form.cart .button.direct-checkout-button span {
  right: 2px;
  left: auto;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
  overflow: hidden;
}

.woocommerce div.product .sale-counter-rating .woocommerce-product-rating, .custom_sales_counter {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 0 #000;
  width: 160px;
  position: relative;
}

.woocommerce-product-rating .anony-rating-average {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 14px;
}

.custom-sales-counter strong {
  font-size: 16px;
}

.sale-counter-rating .woocommerce-review-link {
  width: 100%;
  font-weight: bold;
}

body.rtl .woocommerce-product-rating .anony-rating-average {
  right: auto;
  left: 10px;
}

.woocommerce .container-rating {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.custom-sales-counter {
  background-color: #ff6e6e;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  position: relative;
}

.anony-pointing-triangle-right {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-right: 5px;
}

.anony-pointing-triangle-left {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 10px;
}

.anony-pointing-triangle-right::before, .anony-pointing-triangle-left::before {
  content: "";
  position: absolute;
  top: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
}

.anony-pointing-triangle-left::before {
  left: -16px;
  border-right: 15px solid #ff6e6e;
}

.anony-pointing-triangle-right::before {
  right: -10px; /* Adjust this value to position the triangle */
  border-left: 10px solid #ff6e6e; /* Adjust color as needed */
}

.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0;
}

.woocommerce div.product div.anony-entry-summary, .woocommerce-product-gallery .flex-viewport, .woocommerce div.product div.images.woocommerce-product-gallery, .anony-wc-reviews, .woocommerce-tabs, .woocommerce .up-sells, .woocommerce .related.products {
  background-color: #fff;
  border-radius: 10px;
}

.anony-wc-reviews {
  margin: 20px 0;
}

.woocommerce div.product div.images img {
  display: inline-block;
}

.woocommerce-product-gallery__image, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-product-gallery__image a {
  text-align: center;
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  margin: 10px 0;
}

.woocommerce .quantity .qty {
  width: 100px;
  text-align: center;
  border: 1px solid #e1e1e1;
  padding: 8px;
  border-radius: 3px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  font-size: 29px;
}

/*
.woocommerce div.product div.images img{
	max-width: 380px
}*/
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs, section.related.products {
  background-color: #fff;
}

section.related.products {
  margin-top: 30px;
}

.woocommerce div.product p.price del bdi, .woocommerce div.product span.price del bdi {
  color: #c1c1c1;
  font-size: 16px;
}

.product_meta {
  display: flex;
  flex-direction: column;
}

.product_meta > span {
  margin-bottom: 15px;
}

.woocommerce.single-product div.product form.cart div.quantity {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  text-align: center;
}

.woocommerce div.product form.cart .single_add_to_cart_button {
  display: inline-block;
  width: 200px;
  background-color: #000;
  float: none;
  vertical-align: middle;
}

.woocommerce div.product div.images .flex-control-thumbs {
  position: relative;
  text-align: center;
  margin: auto;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: auto;
  display: inline-block;
  float: none;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  max-width: 60px;
  margin: 0 4px;
  border: 2px solid #D3D3D3;
  border-radius: 5px;
}

.woocommerce #review_form #respond textarea {
  padding: 15px;
}

.woocommerce div.product .woocommerce-tabs .panel {
  padding: 0 10px;
}

#anony-mobile-footer-menu .woocommerce-variation-availability {
  display: none;
}

@media screen and (min-width: 768px) {
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 50%;
  }
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    padding-left: 5px;
  }
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    padding-right: 5px;
  }
}
@media screen and (max-width: 480px) {
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    padding: 0;
  }
  .woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs, section.related.products {
    padding: 5px;
    margin: 0;
  }
  .woocommerce div.product div.images .flex-control-thumbs li {
    width: auto;
    float: none;
    margin: 0 3px;
  }
}
div.elementor-widget-woocommerce-checkout-page {
  background-color: #fff;
  padding: 20px;
}

.woocommerce-order-details__title, .woocommerce-column__title {
  padding: 20px 10px;
  line-height: 30px;
}

table.woocommerce-table--order-details {
  border-collapse: collapse;
}

table.woocommerce-table--order-details td, table.woocommerce-table--order-details th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.woocommerce-table--order-details tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.woocommerce-table--order-details tr:hover {
  background-color: #ddd;
}

.elementor-widget-woocommerce-checkout-page .woocommerce .shop_table thead tr th {
  background-color: #04AA6D !important;
  color: #fff;
  padding-top: 15px !important;
}

.wc_payment_method img {
  max-width: 250px;
}

.anony-paymentgatways-title {
  display: flex;
  align-items: center;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
  border: none;
}

.woocommerce-shipping-totals td, td.actions {
  width: 100% !important;
  box-sizing: border-box;
  clear: both;
}

.woocommerce table.shop_table thead th {
  border-bottom: 1px solid #ccc;
}

.woocommerce-cart-form__contents tbody tr:last-child td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .woocommerce-checkout table.shop_table th:nth-child(2n+1), .woocommerce-checkout table.shop_table td:nth-child(2n+1) {
    width: 70%;
  }
  .woocommerce-checkout #customer_details {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .woocommerce-checkout table.shop_table th:nth-child(2n+1), .woocommerce-checkout table.shop_table td:nth-child(2n+1) {
    width: 70%;
  }
  .woocommerce-checkout #customer_details {
    display: flex;
    flex-direction: column-reverse;
  }
}
.woocommerce .woocommerce-ordering select {
  vertical-align: top;
  padding: 10px;
  outline: none;
  border: 1px solid #c8c7c7;
  border-radius: 5px;
}

.woocommerce li.product .quantity .qty {
  width: 56px;
}

#anony-mobile-cart-toggle {
  vertical-align: middle;
}

#anony-mini-cart-widget {
  z-index: 9999;
  position: relative;
}

#widget_shopping_cart_content_overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  top: 0;
  left: 0;
  display: none;
}

#anony-mini-cart-widget .widget_shopping_cart_content {
  position: fixed;
  top: 0;
  left: -300px;
  padding-top: 46px;
  z-index: 99;
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  transition: left 0.3s ease;
  padding: 10px;
  z-index: 99;
}

a.added_to_cart {
  display: none;
}

.anony-mini-cart-title {
  text-align: center;
  font-size: 16px;
  color: #7b7b7b;
}

#anony-mini-cart-widget .widget_shopping_cart_content.anony-mini-cart-open {
  left: 0;
}

.anony-mini-cart-thumb-link {
  display: flex;
  padding: 10px;
  align-items: center;
}

.anony-mini-cart-thumb-link img {
  margin-right: 5px;
}

body.rtl .anony-mini-cart-thumb-link img {
  margin-right: auto;
  margin-left: 5px;
}

.woocommerce-mini-cart-item {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
  list-style-type: none;
}

.woocommerce-mini-cart-item .remove_from_cart_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

body.rtl .woocommerce-mini-cart-item .remove_from_cart_button {
  right: auto;
  left: 10px;
}

.woocommerce-mini-cart-item span.quantity {
  display: flex;
  padding: 0 10px;
  color: #bdbdbd;
}

.woocommerce-mini-cart__buttons {
  display: flex;
  justify-content: space-around;
}

.woocommerce-mini-cart__buttons a {
  display: inline-flex;
  min-width: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.anony-close-mini-cart {
  display: inline-flex;
  position: absolute;
  z-index: 20;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: auto;
}

.woocommerce-cart .cart-collaterals .cart_totals h2 {
  margin: 20px 0;
}

.woocommerce-cart table.shop_table td.product-remove {
  width: 20px;
  padding: 0;
}

.woocommerce-cart table.shop_table td.product-thumbnail {
  max-width: 90px;
  min-width: 60px;
  width: 90px;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.woocommerce-cart table.shop_table td.product-price,
.woocommerce-cart table.shop_table td.product-subtotal {
  font-weight: bold;
}

.woocommerce-cart table.shop_table td.product-subtotal {
  color: #ffa700;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.woocommerce-cart td.product-name {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.anony-cart-counter {
  align-items: center;
  background-color: #da1818;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 17px;
  justify-content: center;
  position: absolute;
  top: -5px;
  width: 17px;
  left: -5px;
  font-size: 14px;
}

.woocommerce-mini-cart__total {
  padding: 20px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 20px;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
  width: 60px;
  border-radius: 5px;
}

.woocommerce a.remove {
  height: 19px;
  width: 19px;
}

.woocommerce-page table.shop_table .quantity .qty {
  width: 70px;
  margin: 0 3px;
}

@media only screen and (max-width: 768px) {
  .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    width: 100%;
  }
  .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td, .woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
    display: inline-flex;
    flex-wrap: wrap;
  }
  body.rtl .woocommerce table.shop_table_responsive tr td.product-name, body.rtl .woocommerce-page table.shop_table_responsive tr td.product-name {
    text-align: right !important;
  }
  .woocommerce table.shop_table_responsive tr td.product-name::before, .woocommerce-page table.shop_table_responsive tr td.product-name::before,
  .woocommerce table.shop_table_responsive tr td.product-quantity::before, .woocommerce-page table.shop_table_responsive tr td.product-quantity::before,
  .woocommerce table.shop_table_responsive tr td.product-thumbnail::before, .woocommerce-page table.shop_table_responsive tr td.product-thumbnail::before {
    display: none;
  }
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
  }
  .woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
    padding: 5px;
  }
  .woocommerce table.shop_table_responsive tr td.product-subtotal, .woocommerce table.shop_table_responsive tr td.product-quantity {
    padding: 10px;
    position: relative;
    width: 49%;
    box-sizing: border-box;
  }
  .woocommerce table.shop_table_responsive tr td.product-subtotal {
    justify-content: flex-end;
  }
  .woocommerce table.shop_table_responsive tr.order-total td {
    justify-content: center;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
  }
  .woocommerce table.shop_table_responsive tr td.product-price {
    display: none;
  }
  .woocommerce table.shop_table_responsive tr.cart-subtotal td, .woocommerce table.shop_table_responsive tr.order-total td {
    width: 100%;
  }
  .woocommerce table.shop_table_responsive tr td.product-subtotal:before {
    content: "المجموع:";
  }
  .woocommerce #content table.cart td.actions .coupon .button, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon input, .woocommerce table.cart td.actions .coupon .button, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon input, .woocommerce-page #content table.cart td.actions .coupon .button, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon input, .woocommerce-page table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon input {
    min-height: 40px;
  }
  .anony-cart-collaterals {
    width: 100%;
  }
  .woocommerce-mini-cart.cart_list {
    overflow: scroll;
    max-height: calc(100vh - 350px);
  }
}
body.rtl.woocommerce ul.products li.product span.onsale {
  right: 1.5em;
  left: auto;
}
body.rtl.woocommerce ul.products li.product, body.rtl.woocommerce .woocommerce-page ul.products li.product {
  margin: 0 0 0.8em 0.8em;
}
body.rtl.woocommerce .elementor-widget-woocommerce-checkout-page {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  body.rtl #content div.product div.summary, body.rtl div.product div.summary, body.rtl .woocommerce-page #content div.product div.summary, body.rtl .woocommerce-page div.product div.summary {
    padding-left: 10px;
    padding-right: 5px;
  }
  body.rtl #content div.product div.images, body.rtl div.product div.images, body.rtl .woocommerce-page #content div.product div.images, body.rtl .woocommerce-page div.product div.images {
    padding-right: 10px;
    padding-left: 5px;
  }
}
.woocommerce #review_form #respond p.comment-form-comment, .woocommerce #review_form #respond p.comment-form-author, .woocommerce #review_form #respond p.comment-form-email {
  display: flex;
  flex-direction: column;
}

.anony-review-meta {
  position: relative;
  display: flex;
}

.woocommerce #review_form #respond textarea {
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 200px;
}

.comment-form-rating {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.woocommerce #review_form #respond .comment-form-rating p.stars {
  margin: 0 10px;
  padding-bottom: 0;
}

.woocommerce #review_form #respond .comment-form-rating p.stars span {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0;
  border: none;
  border-bottom: 1px solid #e4e1e3;
  display: flex;
  flex-direction: column;
}

.woocommerce #reviews #comments {
  margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist {
  margin-top: 20px;
}

#go-add-review {
  padding: 10px;
  display: inline-flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  margin: 10px 0;
  border-radius: 5px;
}

#anony-reviews-details .woocommerce-review-link {
  display: block;
  margin-bottom: 0;
}

#anony-average-rating {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 15px;
}

#anony-reviews-details .anony-grid-col {
  text-align: center;
}

#anony-reviews-details .review-rating-bg {
  background-color: #d6d4d0;
  height: 12px;
  position: relative;
  display: inline-block;
  width: 65%;
}

#anony-reviews-details .review-rating-fg {
  background-color: #f15a25;
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
}

#anony-reviews-details .review-rating-value {
  width: 90px;
  display: inline-block;
}

#anony-reviews-details .review-rating-bars {
  padding: 0 8px;
}

#anony-reviews-details .anony-grid-row {
  min-height: 180px;
  padding: 10px 0;
}

#anony-reviews-details .anony-grid-row .anony-grid-col {
  vertical-align: middle;
}

.woocommerce #anony-reviews-details .woocommerce-product-rating {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  position: relative;
  max-height: 50px;
  max-width: 50px;
  width: auto;
  display: inline-flex;
  margin: 10px;
}

.woocommerce #reviews #comments ol.commentlist ul.children {
  margin-top: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  padding: 5px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
  margin: 0;
}

.anony-has-bought {
  background-color: #ffc65a;
  color: #fff;
  max-width: 180px;
  text-align: center;
  border-radius: 20px;
  display: inline-flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.woocommerce .comment-text .star-rating, .woocommerce .comment-text .description {
  margin: 5px 10px;
}

.woocommerce .comment-text .description > p {
  color: #000;
  font-weight: bold;
}

.woocommerce #reviews #comments ol.commentlist li p.meta {
  margin: 0;
}

#anony-reviews-details .review-rating-bg, #anony-reviews-details .review-rating-fg {
  border-radius: 8px;
}

#anony-reviews-details .woocommerce-product-rating {
  margin: 0;
}

@media screen and (max-width: 480px) {
  #anony-reviews-details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }
  #anony-reviews-details .review-rating-value {
    width: 60px;
    font-size: 12px;
  }
}
/* Style the headings */
.woocommerce-MyAccount-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.woocommerce-account:not(.anony-is-mobile) .anony-content .woocommerce {
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  min-width: 960px;
}

/* Style the links */
.woocommerce-MyAccount-navigation ul li a {
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  display: block;
  border-bottom: 1px solid #eee;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
  font-weight: bold;
  background-color: #f9f9f9;
}

/* Style the form fields */
.woocommerce-EditAccountForm input[type=text],
.woocommerce-EditAccountForm input[type=email],
.woocommerce-EditAccountForm input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the buttons */
.woocommerce-EditAccountForm button[type=submit] {
  background-color: #0073aa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.woocommerce-EditAccountForm button[type=submit]:hover {
  background-color: #005d84;
}

/* Style the tables */
.woocommerce-MyAccount-content table {
  border-collapse: collapse;
  width: 100%;
}

.woocommerce-MyAccount-content table th,
.woocommerce-MyAccount-content table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.woocommerce-MyAccount-content table th {
  font-weight: bold;
  background-color: #f9f9f9;
}

.woocommerce-MyAccount-content table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Remove list bullets */
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Apply hover effect on navigation links */
.woocommerce-MyAccount-navigation ul li a:hover {
  background-color: #f9f9f9;
}

.anony-order-actions a.button {
  margin: 5px;
  color: #fff;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .woocommerce-orders-table th, .woocommerce-orders-table__row td {
    width: 20%;
    text-align: center;
  }
  .woocommerce-orders-table__row td, .woocommerce-orders-table__row td span.amount {
    font-size: 12px;
  }
  .woocommerce-orders-table__row td::before {
    display: none;
  }
  .woocommerce table.my_account_orders .button {
    padding: 3px;
    width: 50px;
    min-width: auto;
  }
}
.woocommerce .star-rating span::before, .woocommerce p.stars a::before {
  color: #ffb62b;
}

.woocommerce a.added_to_cart {
  display: none;
}

.woocommerce .woocommerce-product-rating .star-rating {
  display: flex;
  align-items: center;
}

.anony-woocommerce .elementor-wc-products ul.products li.product span.onsale.anony-onsale-default, .anony-woocommerce .woocommerce span.onsale.anony-onsale-default, .anony-woocommerce .woocommerce ul.products li.product .onsale.anony-onsale-default {
  background-color: #DD3C3C;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 1.5em;
  left: 1.5em;
}

.anony-woocommerce .elementor-wc-products ul.products li.product span.onsale.anony-onsale-one, .anony-woocommerce .woocommerce span.onsale.anony-onsale-one, .anony-woocommerce .woocommerce ul.products li.product .onsale.anony-onsale-one {
  background-color: #dd3c3c;
  height: 80px;
  left: 1.5em;
  line-height: 60px;
  top: 0;
  width: 60px;
  border-radius: 0;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.woocommerce span.onsale.on-sale-percent {
  font-size: 18px;
}

.elementor-wc-products .woocommerce ul.products li.product span.onsale.on-sale-text, .woocommerce ul.products li.product .onsale.on-sale-text, .woocommerce span.onsale.on-sale-text {
  width: auto;
  height: auto;
  max-width: 110px;
  min-height: auto;
  border-radius: 0;
  line-height: normal;
  padding: 6px 15px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

span.required {
  color: #dd3c3c;
  font-weight: bold;
  font-size: 22px;
}

.woocommerce ul.products li.product .price {
  font-size: 1.3em;
}

.products li h2 {
  line-height: normal;
}

.woocommerce-LoopProduct-link, div.elementor-products-grid ul.products.elementor-grid li.product a.woocommerce-loop-product__link {
  text-align: center;
  position: initial;
  display: block;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
  color: #cf5656;
}

.anony-woocommerce div.woocommerce a.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc !important;
  border: 1px solid #ccc;
}

.anony-woocommerce:not(.anony-frontpage) .anony-content {
  margin-top: 50px;
}

.woocommerce-checkout .order-total td {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button {
    font-size: 13px;
  }
  .woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
    padding: 12px 5px;
    font-size: 18px;
  }
}
