@use './header_one';

header {
	margin: 0;
	width: 100%
}
header#anony-mobile-header{
	padding: 10px 5px;
	padding: 10px 5px;
    background-color: #fff;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header.elemetor{
	margin: initial;
}
header.anony-absolute-header{
	position: absolute;
	z-index: 99
}