.header_style_one{
    #header-style-one-logo a{
        padding: 0;
    }
    #header-style-one-logo a:hover{
        background-color: transparent;
    }
    #anony-main_nav_con{
        height: 80px;
    }
}
