@use './header_one';

header {
	margin: 0;
	width: 100%
}
header#anony-mobile-header{
	padding: 10px 5px;
	padding: 10px 5px;
    height: 100px;
    background-color: #fff;
}
header.elemetor{
	margin: initial;
}
header.anony-absolute-header{
	position: absolute;
	z-index: 99
}