@use './mobile_menu';
.anony-menu{
	list-style-type: none;
}
#anony-main-menu-con li.anony-search-form-toggle a:hover {
	background-color: transparent
}
#anony-main_nav_con {
	background-color: #230005;
	height: 100%;
	position: absolute;
	z-index: 999999;
	top: 0;
	width: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

#anony-main-menu-con li {
	position: relative;
	display: block;
	border: none;
	border-bottom: 1px solid #ffffff;
}

#anony-main-menu-con li a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: #ffffff;
	font-size: 16px;
	padding: 6px;
	width: 100%;
	height: 100%;
}

.anony-vertical-menu{
	flex-direction: column;
}

#anony-main-menu-con .anony-sub-menu{
	display: none;
}
#anony-main-menu-con .anony-sub-menu li a {
	color: #444;
}

#anony-main-menu-con .anony-sub-menu li {
	background-color: #fff;
	display: block!important;
	border-right: none;
	border-bottom: 1px solid #808080;
}
.menu-item-has-children .anony-sub-menu.anony-opened{
	display:block
}
.anony-show-main-nav li a {
	justify-content: flex-start!important;
	font-size: 13px!important;
}

.anony-show-main-nav .toggle-category {
	color: #fff
}

#anony-main-menu-con li a:active {
	font-size: 14px;
}

#anony-main-menu-con #anony-cat-list li, #anony-main-menu-con #anony-cat-list li ul li {
	background-color: transparent;
}


.anony-main-menu-toggle {
	cursor: pointer;
	right: 15px;
	color: #ffffff;
	position: absolute;
}

.anony-show-main-nav {
	left: auto!important;
	width: 50%!important;
	visibility: visible!important;
	opacity: 1!important;
}

#anony-menu-toggle {
	display: inline-block;
	color: #333333;
	left: 0;
}

#menu-close {
	display: none;
	position: absolute!important;
	top: 5px!important;
	right: 5px;
	border: none!important;
	height: 34px;
	width: 34px;
	z-index: 999999;
}

#menu-close:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
}

#menu-close a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}
.anony-search-form-toggle, #anony-main-menu-con li .anony-search-form-toggle {
	display: none;
	border: none;
}


.header_style_one .anony-search-form-toggle, #anony-mobile-header .anony-search-form-toggle {
	display: flex;
}

#anony-main-menu-con .anony-search-form-toggle {
	position: absolute;
}
.anony-menu li a{
	display: block;
	height: 100%;
	width:100%;
	padding: 5px;
	position: relative;
}
.anony-vertical-menu li a ::after{
	font-family: FontAwesome;
	position: absolute;
	top: 10px;
}
.anony-vertical-menu.to-right li a ::after{
	content: "\f054";
	right: 15px;
}

.anony-vertical-menu.to-left li a ::after{
	content: "\f053";
	left: 15px;
}
.anony-divided-menu li {
	border-bottom: 1px solid #d1d1d1;
}
.anony-divided-menu li:last-child{
	border:none
}

.menu-item-has-children > a:after{
	content:'';
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	vertical-align: middle;
	margin-right: 5px;
	position:absolute;
	top:50%;
	left:5px
}
.sub-menu{
	display: none;
}
.sticky #anony-main-menu-con .menu-item{
	height: auto;
	top: auto;
}
.sticky #anony-main-menu-con li a:hover{
	font-size: 12px;
}
.menu-item a{
	padding: 10px 20px;
}
@media screen and (min-width:768px) {
	#anony-main-menu-con > li > a:hover {
		background-color: #000;
		color: #fff;
	}
	.anony-search-form-toggle {
		right: 0;
		display: block;
	}

	#anony-main_nav_con {
		position: relative;
		display: block;
		height: 60px;
		width: 95%;
		margin: auto;
		left: auto;
		z-index: auto;
		visibility: visible;
		opacity: 1;
	}

	.active,.active a, #anony-main_nav_con {
		border-radius: 10px;
	}

	#anony-main-menu-con {
		display: flex;
		position: relative;
		height: inherit;
		margin: auto;
		flex-wrap: wrap;
	}

	#anony-main-menu-con li {
		display: inline-block;
		border: none;
	}

	#anony-main-menu-con li:hover {
		top: 0;
	}

	#anony-main-menu-con li a {
		padding: 10px 20px;
		width: 100%;
	}

	#anony-main-menu-con li ul li ul {
		position: absolute;
		left: 100%;
		top: 0;
	}

	.anony-sub-menu li a,.anony-sub-menu li a:hover {
		font-weight: normal;
		font-size: 14px !important;
		height: auto !important;
		border-left: none!important;
		border-right: none!important;
	}

	.anony-sub-menu li {
		background-color: #fff;
	}
	.anony-multi-col-menu .anony-sub-menu{
		position: absolute !important;
		width: 70vw;
		transform: translateX(30%);
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 20px;
		background-color: #fff;	
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(161,161,161,1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(161,161,161,1);
		box-shadow: 0px 0px 5px 0px rgba(161,161,161,1);
	}
	.anony-multi-col-menu.menu-item-has-children:hover .anony-sub-menu, .anony-multi-col-menu.menu-item-has-children .anony-sub-menu.anony-opened{
		display: flex;
	}
	.menu-item-has-children:hover .sub-menu, .menu-item-has-children:hover .anony-sub-menu {
		display: flex!important;
	}
	.anony-multi-col-menu .anony-sub-menu li{
		max-width: 120px;
		margin: 0 10px;
	}
	#anony-toggles-wrapper {
		display: none!important;
	}

	#menu-close {
		visibility: hidden;
		opacity: 0;
	}

	#anony-main_nav_con.sticky {
		width: 100%!important;
		border-radius: 0;
	}
}

