@media screen and (min-width:768px){
    #anony-main_nav_con{
		position: relative;
		display: block;
		height: 60px;
		width: 95%;
		margin: auto;
		left: auto;
		z-index: auto;
		visibility: visible;
		opacity: 1;
	}
	.active,.active a, #anony-main_nav_con{
		border-radius: 10px;
	}
	#anony-main-menu-con{
		display: flex;
		position: relative;
		height: inherit;
		margin: auto;
	}
	#anony-main-menu-con li {
		display: inline-block;
		border: none;
	}
	#anony-main-menu-con li:hover {
		height: 100%;
		top:0;
	}
	#anony-main-menu-con li a {
		padding: 0 20px;
		width: 100%;
		border-right: 1px solid rgba(97, 27, 46, 0.5);
	}
	#anony-main-menu-con li ul li ul{
	position: absolute;
	left: 100%;
	top: 0;
	}
	.anony-sub-menu li a,.anony-sub-menu li a:hover{
	font-weight: normal;
	font-size: 14px !important;
	height:auto !important;
	border-left:none!important;
	border-right: none!important;
	}
	#anony-main-menu-con li:hover > .anony-sub-menu{
		position: absolute;
		height: 100%;
		opacity: 1;
		visibility: visible;
	}
	
	#anony-toggles-wrapper{
		display: none!important;
	}
	#menu-close{
	visibility: hidden;
	opacity: 0;
	}
	#anony-main_nav_con.sticky{
		width: 100%!important;
		border-radius: 0;
	}
}