.anony-menu-icon-bar{
    display: inline-block;
    margin-bottom: 4px;
    width: 24px;
    height: 1.6px;
    background-color: hsla(0,0%,40%,.85);
    border-radius: 23px;
}
.anony-menu-icon-bar:nth-child(2){
    height: 2px;
}
#anony-mobile-menu {
    #anony-main_nav_con {
        background-color: transparent!important;
        opacity: 1;
        position: relative;
        top: 0;
        transition: all .7s ease-in-out;
        visibility: visible;
        width: auto;
        z-index: auto;
    }

    #anony-main_nav_con li a {
        color: #000;
    }

    #anony-mobile-menu-container{
        margin-top: 30px;
    }
    #anony-main-menu-con li{
        border-bottom: 1px solid #e9e9e9;
    }
    #anony-main-menu-con li a{
        justify-content: flex-start;
    }
    #anony-main-menu-con li:hover, #anony-main-menu-con li:hover > a{
        background-color: #000;
        color: #fff!important;
    }
}

@media screen and ( min-width:481px ) {
}