.anony-posts-listing h1 {
    font-size: 18px;
}

.anony-posts-listing{
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    overflow: hidden;
}
.anony-posts-listing-content{
    padding: 10px;
}