/* CSS slider */
	#anony-active-slide, .anony-view{
		height: 355px;
	}
	.anony-slide-title a{
		height:100px;
		display:flex;
		align-items:center;
		justify-content:center;
		padding: 10px;
		color: #ffffff;
		text-align: center;
	}

	.anony-slide-title{
		background-color: rgba(0,0,0,0.5);
		text-align: center;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	#anony-slides-list{
		margin-top: 5px;
		display: flex;
		justify-content: center;
		width: 100%;
		bottom: 20px;
		position: absolute;
		z-index: 30;
	}
	.anony-slide-item:not(.anony-pagination-dot)::before{
		content: "";
		display: block;
		background-color: rgba(0,0,0,0.80);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.anony-active-slide:not(.anony-pagination-dot)::before{
		background-color:transparent;
	}
	.anony-slide-item.anony-pagination-dot{
		width: 10px;
		height: 10px;
		display: inline-block;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: #000;
		opacity: .2;
		cursor: pointer
	
	}
	.anony-active-slide.anony-pagination-dot, .anony-slide-item.anony-pagination-dot:hover{
		opacity: 1;
	}
	.anony-slide-item {
		height: 80px;
		width: 80px;
		display: inline-block;
		position: relative;
	}
	.anony-slide-item img{
		width: 100%;
		height: 100%;
	}
	#anony-featured {
		position: relative;
	}
	
	.anony-view {
		position: absolute;
		width: 100%;
		opacity: 0;
		z-index: 0;
	}
	.anony-view:first-child{
		opacity: 1;
		z-index: 10;
	}
	.anony-view img {
		margin: auto;
		display: block;
		width: 100%;
		height: 100%;
	}
/* End slider css*/

