.anony-content-slide.anony-testimonial-item {
    align-items: flex-start;
}
.anony-testimonial-item{
    background-color: #f7f7f7;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.anony-testimonials.one .anony-content-slider-control{
    position: relative;
}

.anony-testimonials.one .anony-content-slider-control button {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
