@font-face {
	font-family: 'Pictos';
	src: url('../fonts/pictos-web.eot');
	src: url('../fonts/pictos-web.woff') format('woff'), url('../fonts/pictos-web.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/raleway-bold-webfont.woff') format('woff'),
url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
url('../../functions/options/fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/raleway-light-webfont.woff') format('woff'),
url('../fonts/raleway-light-webfont.ttf') format('truetype'),
url('../../functions/options/fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/raleway-regular-webfont.woff') format('woff'),
url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
url('../../functions/options/fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/raleway-thin-webfont.woff') format('woff'),
url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
url('../../functions/options/fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}

[id*='fieldset_anony'] input[type="color"], 
[id*='fieldset_anony'] input[type="date"], 
[id*='fieldset_anony'] input[type="datetime-local"], 
[id*='fieldset_anony'] input[type="datetime"], 
[id*='fieldset_anony'] input[type="email"], 
[id*='fieldset_anony'] input[type="month"], 
[id*='fieldset_anony'] input[type="number"], 
[id*='fieldset_anony'] input[type="password"], 
[id*='fieldset_anony'] input[type="radio"],
[id*='fieldset_anony'] input[type="checkbox"], 
[id*='fieldset_anony'] input[type="search"], 
[id*='fieldset_anony'] input[type="tel"], 
[id*='fieldset_anony'] input[type="text"], 
[id*='fieldset_anony'] input[type="time"], 
[id*='fieldset_anony'] input[type="url"], 
[id*='fieldset_anony'] input[type="week"], 
[id*='fieldset_anony'] select, 
[id*='fieldset_anony'] textarea{
	border: navajowhite;
	box-shadow: inset 0 1px 5px rgba(0,0,0,.2);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	transition: 50ms border-color ease-in-out;
	border-radius: 10px;
	padding: 5px;
    min-height: 35px;
    min-width: 200px;
}
[id*='fieldset_anony'] input[type="radio"],
[id*='fieldset_anony'] input[type="checkbox"]{
    min-height: auto;
    min-width: auto;
}

.anony-input-field{
	min-width: 120px;
}
/* -------------- .multi-text -------------- */
[id*='fieldset_anony']  input.multi-text-add { margin-right:10px;}
[id*='fieldset_anony']  .multi-text-btn { float:left;}
[id*='fieldset_anony']  .multi-text-desc { float:left;}
[id*='fieldset_anony']  .multi-text-ul { margin:auto;}
[id*='fieldset_anony']  .multi-text-ul li { display:block; width: 338px; height:37px; color:#fff; position:relative; margin:8px 0 5px 0; background: #b73a4c;}
[id*='fieldset_anony']  .multi-text-ul li.multi-text-default { display:none;}
[id*='fieldset_anony']  .multi-text-ul li a.multi-text-remove { display:block; position:absolute; top:0; right:0; width: 37px; height:37px; overflow: hidden; text-indent: -9999px; color:#34495e; background: #d1354b;  }
[id*='fieldset_anony']  .multi-text-ul li a.multi-text-remove em { width: 37px; height:37px; display: block; overflow: hidden; background:url(imgs/icons/ico-delete.png) no-repeat center center;}
[id*='fieldset_anony']  .multi-text-ul li a:hover.multi-text-remove { background: #FB5656;}
[id*='fieldset_anony']  .multi-text-ul li span { color:#fff; font-weight:bold; line-height:37px; padding:0 17px; font-size:14px; margin:0;}
[id*='fieldset_anony']  a.btn-blue{
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    color: #787878;
    border: 2px solid #ebecec;
    text-decoration: none;
    background: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

/* -------------- jQuery UI -------------- */

/* .ui-slider */
.ui-slider { position: relative; text-align: left; background: #ebedef; z-index: 1; width:150px; float:left; margin:0 14px;}
.ui-slider .ui-slider-handle { background:#b73a4c; position: absolute; z-index: 2; width: 18px; height: 18px; cursor: default; border: none; outline: none; border-radius:9px;}
.ui-slider .ui-state-hover, .ui-slider .ui-state-active { background:#b73a4c;}
.ui-slider .ui-slider-range { background: #d1354b; position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 12px; border-radius:6px;}
.ui-slider-horizontal .ui-slider-handle { top: -3px; margin-left: -13px; }
.ui-slider-horizontal .ui-slider-range { /*! top: 0; */ height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; border-radius:6px;}
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

[id*='fieldset_anony']  .form-table input.sliderbar_input { width:44px;}  
[id*='fieldset_anony']  tr td span.sliderbar_desc { float:left; width:163px;}

.anony-input-lable,.anony-btn-close, .anony-remove-tab{
    display: block!important;
    font-weight: bold;
}

.multi-text-btn:focus,.anony-btn-close:focus, .anony-remove-tab:focus{
    color:#b73a4c;
}
[id*='fieldset_anony']  .form-table input.small-text{
    min-width: 150px;
}
.anony-label{
   font-weight: bold;
   margin: 15px 0;
}
.icon{
	margin: 5px;
}
.icon::before {
    content: attr(data-icon);
    font-family: "Pictos" !important;
    font-weight: normal;
    line-height: 0;
    font-size: 1.4em;
    text-transform: none;
}
.anony-inputs-row{
	display: flex;
	align-items: center;
}

.anony-multi-value-flex{
    align-items: baseline;
    justify-content: space-between!important;
}
.anony-multi-value-flex{
    display: flex;
}
.anony-multi-value-wrapper{
    display: block;
}
[id*='fieldset_anony'] input[type= "checkbox"]{
	margin: 0 5px;
	border-radius: 2px !important;
}

[id*='fieldset_anony'] {
	background-color: #fff;
	padding: 20px;
}
[id*='fieldset_anony']  > h1{
	text-align: center;
	font-family: "EXO";
}
#options-wrap{
	display: flex;
	max-width: 960px;
	margin-top: 50px;
	min-height: 768px;
}
#anony-inputs-nav{
	width: 20%;
	background-color: rgb(209, 53, 75);
	box-shadow: 10px 5px 6px #dbd1d1;
}
.anony-nav-link,.anony-nav-item{
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Anton'
}
.anony-nav-link:hover{
	color: #ffffff;
    font-size: 20px;
	padding: 10px;
}
.anony-nav-link{
	padding: 0 20px;
}
.anony-nav-item{
	display: block;
	padding: 0 5px;
	width: 100%;
	border-bottom: 1px solid;
	box-sizing: border-box;
}

.anony-nav-item:hover{
	color: #ffffff;
	background: #871928;
}
.anony-featured-cat, .rev_slider{
	display: none;
}

.home_slider_{
	display: none;
}

.show-in-table{
	display: table-row;
}
#options-sections{
	width: 70%;
}
.anony-radio-img input[type="radio"]{display: none}
.anony-radio-item{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}
.anony-radio-img-selected{
	padding: 5px;
	border: 1px solid #ff3600;
}

.anony-section-group > h2{
	padding: 50px 10px;
	font-size: 35px;
	color: #ffffff;
	background-color: rgb(209, 53, 75);
	margin: 0;
	border-bottom-left-radius: 0;
	font-family: "EXO";
	text-align: center;
	box-shadow: 5px 10px 6px #dbd1d1;
}

.submit,.form-table{
	margin: 15px;
}

.anony-section-group{
	display: none;
}
.anony-show-section{
	display: block;
}

.regular-text{
	width: 20em;
}

.anony-section-group .form-table tr {
    border-bottom: 2px solid #ebecec;
}

.anony-section-warning{
	font-weight: bold;
	color: #f6f6f6;
	padding: 10px;
	background-color: #871928;
	margin: 5px;
	border-left: 6px solid #230005;
}
.has-switch {
    margin-right: 15px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
   /* -webkit-mask: url(../img/switch-mask.png) 0 0 no-repeat;
    mask: url(../img/switch-mask.png) 0 0 no-repeat;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.has-switch {
    cursor: pointer;
    text-align: left;
}
.has-switch input[type="checkbox"] {
    display: none;
}
.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}
.has-switch > div.switch-on {
    left: 0;
}

.has-switch > div.switch-off {
    left: -63%;
}
.has-switch > div.switch-animate {
    -webkit-transition: left .25s ease-out;
    -moz-transition: left .25s ease-out;
    -o-transition: left .25s ease-out;
    transition: left .25s ease-out;
    -webkit-backface-visibility: hidden;
}
.has-switch > div.switch-off label {
    background-color: #999;
    border-color: #bbb;
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
    box-shadow: -1px 0 0 rgba(255,255,255,0.5);
}

.has-switch > div.switch-on label {
    background-color: #9A3E4B;
}

.has-switch label {
    border: 4px solid #230005;
    border-radius: 50%;
    float: left;
    height: 21px;
    position: relative;
    vertical-align: middle;
    width: 21px;
    z-index: 100;
    margin: 0 -15px 0 -14px;
    padding: 0;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-backface-visibility: hidden;
}

.has-switch span.switch-left {
    border-radius: 30px 0 0 30px;
    background-color: #871928;
    border-left: 1px solid transparent;
}
.has-switch span.switch-right {
    border-radius: 0 30px 30px 0;
    background-color: #bbb;
    color: #fff;
    text-indent: 7px;
}

.has-switch span {
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600 !important;
    float: left;
    height: 29px;
    line-height: 19px !important;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    margin: 0 !important;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    -webkit-backface-visibility: hidden;
}
.slider_show, .home_slider{
	display: table-row;
}
.form-table th{
	font-family: "Gugi";
}

.anony-dropdown{
	display: none;
	background: #b73a4c;
}
.anony-dropdown .anony-nav-item{
	width: auto;
} 
#anony-inputs-nav ul{
	padding-top: 0;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
#anony-inputs-nav ul li{
	
	margin: 0;
}
#anony-inputs-nav ul li div{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	border-bottom: 1px solid #fff;
}

.toggle-dropdown{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 50px;
	color: #fff;
	background: #871928;
	font-size: 20px;
	top: 0;
	left: 0;
}
.farb-popup {
    position: absolute;
    background-color: #fff;
    border: 2px solid #EBECEC;
    padding: 5px;
    z-index: 100;
}
.form-table td{
	display: flex;
	flex-direction: column;
}
.wp-core-ui .button-primary {
    background: #d1354b;
    border-color: #d1354b #d1354b #d1354b;
    box-shadow: 0 1px 0 #d1354b;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #d1354b,1px 0 1px #d1354b,0 1px 1px #d1354b,-1px 0 1px #d1354b;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img {
    color: #ffffff;
    box-shadow: none;
    outline: none;
}
.wp-core-ui .button-primary:focus {
    box-shadow: 0 1px 0 #941e1e, 0 0 2px 1px #d1354b;
}
.wp-core-ui .button-primary:hover,.wp-core-ui .button-primary:focus{
	background: #941e1e;
    border-color: #941e1e;
}

.anony-multi-value{
    margin: 5px 0;
}
.anony-multi-value-flex fieldset{
    border: none;
}

.anony-flex-column{
    display: flex;
    flex-direction: column;
}