@use 'woocommerce/main-loop';
@use 'woocommerce/single-product';
@use 'woocommerce/checkout';
@use 'woocommerce/shop';
@use 'woocommerce/cart';
@use 'woocommerce/woo-rtl';
@use 'woocommerce/breadcrumbs';
@use 'woocommerce/comments';
@use 'woocommerce/account-page';
.woocommerce .star-rating span::before, .woocommerce p.stars a::before {
	color: #ffb62b;
}
.woocommerce a.added_to_cart{
	display: none;
}
.woocommerce .woocommerce-product-rating .star-rating {
	display: flex;
	align-items: center;
}

.anony-woocommerce .elementor-wc-products ul.products li.product span.onsale.anony-onsale-default, .anony-woocommerce .woocommerce span.onsale.anony-onsale-default, .anony-woocommerce .woocommerce ul.products li.product .onsale.anony-onsale-default {
	background-color: #DD3C3C;
	width: 60px;
	height: 60px;
	line-height: 60px;
	top: 1.5em;
	left: 1.5em;
}

.anony-woocommerce .elementor-wc-products ul.products li.product span.onsale.anony-onsale-one, .anony-woocommerce .woocommerce span.onsale.anony-onsale-one, .anony-woocommerce .woocommerce ul.products li.product .onsale.anony-onsale-one {
	background-color: #dd3c3c;
	height: 80px;
	left: 1.5em;
	line-height: 60px;
	top: 0;
	width: 60px;
	border-radius: 0;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.woocommerce span.onsale.on-sale-percent{
	font-size: 18px
}

.elementor-wc-products .woocommerce ul.products li.product span.onsale.on-sale-text, .woocommerce ul.products li.product .onsale.on-sale-text, .woocommerce span.onsale.on-sale-text {
	width: auto;
	height: auto;
	max-width: 110px;
	min-height: auto;
	border-radius: 0;
	line-height: normal;
	padding: 6px 15px;
	display: flex!important;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
span.required{
	color: #dd3c3c;
	font-weight: bold;
	font-size: 22px;
}
.woocommerce ul.products li.product .price {
	font-size: 1.3em;
}
.products li h2{
	line-height: normal
}
.woocommerce-LoopProduct-link,div.elementor-products-grid ul.products.elementor-grid li.product a.woocommerce-loop-product__link {
	text-align: center;
	position: initial;
	display: block
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    color: #cf5656;
}