.widget_shopping_cart_content{
    position: fixed;
    top: 0;
    left:-300px;
    padding-top: 46px;
    z-index: 99;
    background-color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    transition: left 0.3s ease;
}

.widget_shopping_cart_content.anony-mini-cart-open{
    left: 0
}