#anony-mobile-cart-toggle{
    vertical-align: middle;
}
#anony-mini-cart-widget .widget_shopping_cart_content{
    position: fixed;
    top: 0;
    left:-300px;
    padding-top: 46px;
    z-index: 99;
    background-color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    transition: left 0.3s ease;
    padding: 10px;
    z-index: 99999;
}
a.added_to_cart{
    display: none;
}
.anony-mini-cart-title{
    text-align: center;
    font-size: 16px;
    color: #7b7b7b;
}

#anony-mini-cart-widget .widget_shopping_cart_content.anony-mini-cart-open{
    left: 0
}

.anony-mini-cart-thumb-link{
    display: flex;
    padding: 10px;
}
.anony-mini-cart-thumb-link img{
    margin-right:5px;
}

body.rtl .anony-mini-cart-thumb-link img{
    margin-right:auto;
    margin-left:5px;
}
.woocommerce-mini-cart-item{
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
}
.woocommerce-mini-cart-item .remove_from_cart_button{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
body.rtl .woocommerce-mini-cart-item .remove_from_cart_button{
    right: auto;
    left: 10px;
}
.woocommerce-mini-cart-item span.quantity {
    display: flex;
    padding: 0 10px;
    color: #bdbdbd;
}
.woocommerce-mini-cart__buttons{
    display: flex;
    justify-content: space-around;
}
.woocommerce-mini-cart__buttons a {
    display: inline-flex; 
    min-width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.anony-close-mini-cart{
    display: inline-flex;
    position: absolute;
    z-index: 20;
}