.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin: 0 3% 2.992em 0;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0;
}
.woocommerce ul.products li.product a.button {
	margin-top: 0;
}
.elementor-page .elementor-products-grid ul.products.elementor-grid li.product, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
}

.elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
	height: 60px;
	color:#000
}
.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce .products ul, .woocommerce ul.products{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.woocommerce nav.woocommerce-pagination ul li {
   	float: none;
}
.woocommerce .products li.product .star-rating{
	display: inline-block
}
.woocommerce ul.products li.product a.add_to_cart_button{
	color: #FFFFFF;
}
.woocommerce ul.products li.product .price del {
	color:#c1c1c1;
	font-size: 16px;
}
.woocommerce .products ul li, .woocommerce ul.products li {
	text-align: center;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: none;
	display: inline-block;
}
.woocommerce .products li .woocommerce-Price-amount bdi{
	display: flex;
	justify-content: center;
	align-items: center;
}

.woocommerce .products li .woocommerce-Price-amount ins bdi{
	flex-direction: row
}
.woocommerce .products li .woocommerce-Price-amount ins, .woocommerce .products li .Price ins, .woocommerce .products li .woocommerce-Price-amount del, .woocommerce .products li .Price del{
	margin: 0 2px;
}
.woocommerce ul.products li.product a img {
	width: auto;
	display: inline-block;
}
.woocommerce ul.products li.product .star-rating{
	margin-top: 10px;
}
@media screen and ( max-width: 480px ){
	.elementor-page .elementor-products-grid ul.products.elementor-grid li.product {
		border-radius: 8px;
		padding: 8px;
	}

	.woocommerce .products ul, .woocommerce ul.products {
		justify-content: space-between;
	}
}