@use './related-products';
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images,.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
	float: none;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper{
	overflow: hidden;
	max-height: 350px;
}

.woocommerce .container-rating{
	display:flex;
	align-items: center;
}
.custom-sales-counter{
	background-color: #ff6e6e;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 10px;
	position: relative;
}
.custom-sales-counter::before,.custom-sales-counter::after{
	content: "";
    position: absolute;
    top: 0;
	border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
}
.anony-pointing-triangle-left::before {
    left: -16px;
    border-right: 15px solid #ff6e6e;
}
.anony-pointing-triangle-right::before {
	right: -16px; /* Adjust this value to position the triangle */
	border-left: 10px solid #ff6e6e;; /* Adjust color as needed */
}
.woocommerce .woocommerce-product-rating .star-rating{
	margin: 0;
}
.woocommerce div.product div.anony-entry-summary, .woocommerce-product-gallery .flex-viewport, .woocommerce div.product div.images.woocommerce-product-gallery, .anony-wc-reviews{
	padding: 20px;
	background-color: #fff;
	
}
.anony-wc-reviews{
	margin: 20px 10px;
}
/*
.woocommerce div.product-type-variable div.anony-entry-summary, .woocommerce div.product-type-variable .woocommerce-product-gallery .flex-viewport, .woocommerce div.product-type-variable div.images.woocommerce-product-gallery{
	height: 550px!important;
}*/
.anony-entry-summary{
	height: 100%
}
.woocommerce div.product div.images img{
	display: inline-block;
}
.woocommerce-product-gallery__image, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-product-gallery__image a{
	text-align: center
}
.woocommerce div.product form.cart div.quantity {
	float: none;
	margin: 10px 0;
}
.woocommerce .quantity .qty {
	width: 100px;
	text-align: center;
	border: 1px solid #e1e1e1;
	padding: 8px;
	border-radius: 3px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	font-size: 29px;
}
.woocommerce div.product div.images img{
	max-width: 380px
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs ,section.related.products{
	padding: 20px;
	background-color: #fff;
	margin: 0 10px;
}

section.related.products{
	margin-top: 30px;
}
.woocommerce div.product p.price del bdi, .woocommerce div.product span.price del bdi{
	color:#c62020;
	font-size: 22px;
}
.product_meta{
	display: flex;
	flex-direction: column;
}

.product_meta > span{
	margin-bottom: 15px
}

.woocommerce.single-product div.product form.cart div.quantity{
	display: inline-block;
	width: 120px;
	vertical-align: middle;
}
.woocommerce div.product form.cart .single_add_to_cart_button{
	display: inline-block;
	width: 200px;
	background-color: #000;
	float: none;
	vertical-align: middle;
}

.woocommerce div.product div.images .flex-control-thumbs{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: auto;
	text-align: center;
	z-index: 100;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: auto;
	display: inline-block;
	float: none
}

.woocommerce div.product div.images .flex-control-thumbs li img{
	max-width: 80px;
	margin: 0 10px;
	border: 2px solid #D3D3D3
}
.woocommerce #review_form #respond textarea {
	padding: 15px;
}

.woocommerce div.product .woocommerce-tabs .panel {
	padding: 0 10px;
}

@media screen and ( max-width:480px ){
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		padding: 0;
	}
	.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
		padding: 5px;
		margin: 0
	}
	.woocommerce div.product div.images .flex-control-thumbs {
		position: relative!important;
		left: auto;
		right: auto;
		bottom: 0px;
		margin: auto;
		z-index: auto;
		margin-top: 15px;
	}
	.woocommerce div.product div.images .flex-control-thumbs li {
			width: calc(25% - 6px);
			float: none;
			margin: 0 3px;
	}
}