/*-----Categories dropdown widget-----*/
#anony-cat-list{
	
	li, li ul li {
		position: relative;
		padding: 0;
		margin: 0;
	}
	
	li a{
		display: inline-block!important;
		vertical-align: middle;
		font-size: 14px;
		padding: 10px;
	}
	.has-children{
		background-color: #fbfbfb!important;
	}
	.has-children ul{
		background-color: #fff!important;
	}
	.toggle-category{
		position: absolute;
		top: 5px;
		left: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 40px;
		cursor: pointer;
	}
}

#anony-cat-list {
	position: relative;
	width: 100%;
	border-radius: 5px;
	padding: 0 8px;
	overflow: hidden;
}


/* End categories dropdown widget */